/*
 * styles.css
 */

html {
  position: relative;
  min-height: 100%;
}
body {
  padding: 30px 15px 15px;
}

div#messages {
  margin: 10px;
}
div.info {
  color: #FF4040;
}
span.user {
  margin-right: 5px;
  color: #808080;
}
span.message {
  margin-left: 5px;
}
